
<h1>1.2.9 Personal Timeline</h1>

        <code id="source">
            public class Timeline
            {
                public static void main(String[] args)
                {
                    System.out.println("Age  | M/YY Description");
                    System.out.println("7    | ");
                    System.out.println("     | 5/08 - lorem ipsum");
                    System.out.println("     | ");
                    System.out.println("     | ");
                    System.out.println("9    | ");
                    System.out.println("     | ");
                    System.out.println("     | ");
                    System.out.println("     | ");
                    System.out.println("11   | 1/14 - amet sit dolor");
                    System.out.println("     | ");
                    System.out.println("     | 6/14 - consectetur ");
                    System.out.println("     | ");
                    System.out.println("13   | 2/16 - adipiscing elit, ");
                    System.out.println("     | 3/16 - sed do eiusmod");
                    System.out.println("     | 9/16 - tempor incididunt ut labore");
                    System.out.println("     | ");
                    System.out.println("15   | ");
                    System.out.println("     | ");
                    System.out.println("     | ");
                }
            }
        </code>
    