
<h1>1.3.9 Team Rankings</h1>

        <code id="source">
            public class TeamRanks
            {
                public static void main(String[] args) {
                    String team1 = "Alabama";
                    String team2 = "Ohio State";
                    String team3 = "Florida State";
                    String team4 = "USC";
                    String team5 = "Clemson";
                    String team6 = "Penn State";
                    String team7 = "Oklahoma";
                    String team8 = "Maryland";
                    String team9 = "Wisconsin";
                    String team10 = "Michigan";
            
                    /*
                     * Don't edit above this line.
                     * Enter your code below this comment.
                     */
            
                    String tmp1 = team1;
                    String tmp2 = team2;
                    String tmp3 = team3;
                    String tmp4 = team4;
                    String tmp5 = team5;
                    String tmp6 = team6;
                    String tmp7 = team7;
                    String tmp8 = team8;
                    String tmp9 = team9;
                    String tmp10 = team10;
            
                    team2 = tmp6;
                    team3 = tmp8;
                    team4 = tmp10;
                    team5 = tmp4;
                    team6 = tmp5;
                    team8 = tmp9;
                    team9 = tmp3;
                    team10 = tmp2;
                    
                    /*
                     * Don't edit below this line.
                     * Enter your code above this comment.
                     */
            
                    System.out.print("1. ");
                    System.out.println(team1);
                    System.out.print("2. ");
                    System.out.println(team2);
                    System.out.print("3. ");
                    System.out.println(team3);
                    System.out.print("4. ");
                    System.out.println(team4);
                    System.out.print("5. ");
                    System.out.println(team5);
                    System.out.print("6. ");
                    System.out.println(team6);
                    System.out.print("7. ");
                    System.out.println(team7);
                    System.out.print("8. ");
                    System.out.println(team8);
                    System.out.print("9. ");
                    System.out.println(team9);
                    System.out.print("10. ");
                    System.out.println(team10);
                }
            }
        </code>
    