
<h1>5.1.5 Access for Employee Class</h1>

        <code id="source">
            public class Employee
            {
                private String name;
                private int id;
                private double salary;
                
                
                public Employee(String _name, int _id, double _salary) {
                    this.name = _name;
                    this.id = (short)_id;
                    this.salary = _salary;
                }
            }
        </code>
    