
<h1>5.2.7 Student Overload</h1>

        <code id="source">
            public class StudentTester
            {
                public static void main(String[] args)
                {
                    Student alan = new Student("Alan", "Turing", 11, "Liberty High School");
                    Student ada = new Student("Ada", "Lovelace", 5);
                    
                    System.out.println(alan);
                    System.out.println(ada);
                    
                }
            }
            
        </code>
        <code id="source1">
            public class Student
{
    private String firstName;
    private String lastName;
    private int gradeLevel;
    private String school;

    /**
     * Constructors go here.
     * Check out StudentTester.java for an example of how to use
     * this constructor. Make sure your code matches the call in the
     * tester.
     */
     
     public Student(String fN, String lN, int grd, String schl) {
         this.firstName = fN;
         this.lastName = lN;
         this.gradeLevel = grd;
         this.school = schl;
     }
     
     public Student(String fN, String lN, int grd) {
         this.firstName = fN;
         this.lastName = lN;
         this.gradeLevel = grd;
         this.school = grd >= 9 ? "high school" : grd >= 6 ? "middle school" : "elementary school";
     }
   
   
    
    /**
     * This is a toString for the Student class. It returns a String
     * representation of the object, which includes the fields
     * in that object.
     * 
     * Modify the to string to add 'and goes to _____' at the end
     */
    public String toString()
    {
        return firstName + " " + lastName + " is in grade " + gradeLevel + " and goes to " + school;
    }
    
    public String getFirstName(){
        return firstName;
    }
}
        </code>
    